// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap')

*
	margin: 0
	padding: 0
	list-style: none
	text-decoration: none
	box-sizing: border-box

.v-application ul, .v-application ol
	padding-left: 0

$body-font-family: Poppins
$heading-font-family: Rufina

$font-size-root: 18px
$line-height-root: 32px
$grid-gutter: 40px
$btn-letter-spacing: 0

.default-shadow
	box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.04)

.v-application
	font-family: $body-font-family, sans-serif !important
	color: var(--v-primary-base) !important

h1, .h1
	font-family: $body-font-family, sans-serif !important
	font-size: $font-size-root
	font-weight: bold 
	line-height: 52px
	color: var(--v-secondary-base) !important

h2, .h2
	font-family: $heading-font-family
	font-weight: bold
	font-size: 24px
	line-height: $line-height-root
	color: var(--v-tertiary-base)

.title1
	font-family: $heading-font-family
	font-size: 40px
	line-height: 52px

.title2
	font-family: $heading-font-family
	font-size: $line-height-root
	line-height: 44px

p, span
	font-family: $body-font-family, sans-serif !important
	font-size: $font-size-root
	line-height: $line-height-root
	.focus, &.focus
		font-weight: bold
		color: var(--v-accent-base)
	.small, &.small
		font-size: 16px
		line-height: 28px
.small
	font-size: 16px
	line-height: 28px

.gradient:hover
	color: #ffffff !important
	border-color: transparent
	&::before
		opacity: 1 !important
		background-color: transparent !important
		background: linear-gradient(93.99deg, #4B5899 0.95%, #432F74 100%) !important
		top: -1px
		right: -1px
		bottom: -1px
		left: -1px

.c-pointer
	cursor: pointer

@import '~vuetify/src/styles/styles.sass'

@media #{map-get($display-breakpoints, 'sm-and-down')}
	p, span
		font-family: $body-font-family, sans-serif !important
		font-size: 16px
		line-height: 30px
		.small, &.small
			font-size: 13px
			line-height: 22px
	.small
		font-size: 13px
		line-height: 22px

	.title1
		font-size: 24px
		line-height: 36px

	// .title2
	// 	font-size: $line-height-root
	// 	line-height: 44px